&spi1 {
    status = "okay";
    cs-gpios = <&gpiob 5 GPIO_ACTIVE_LOW>;

    can1: mcp2515@0 {
        compatible = "microchip,mcp2515";
        reg = <0>;
        spi-max-frequency = <10000000>;
        int-gpios = <&gpioa 10 GPIO_ACTIVE_LOW>;
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        osc-freq = <20000000>;
        bus-speed = <500000>;
        sjw = <1>;
        prop-seg = <7>;
        phase-seg1 = <8>;
        phase-seg2 = <7>;
    };
};