
/ {
    compatible = "st,stm32f401", "st,stm32f4", "zephyr,stm32f4";

    fragment@0 {
        target = <&spi1>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            can0: can@0 {
                compatible = "microchip,mcp2515";
                spi-max-frequency = <1000000>;
                interrupt-parent = <&exti>;
                interrupts = <0 1>;
                interrupt-cells = <0>;
                label = "CAN_0";
                status = "okay";
            };
        };
    };
};
