&spi1 {
    status = "okay";
};

&spi1 {
    status = "okay";
    can0: can_mcp2515 {
        compatible = "microchip,mcp2515";
        /* reg = <0X10>; */
        spi-max-frequency = <1000000>;
        interrupt-parent = <&gpio1>;
        interrupts = <4 0>;
        label = "CAN_0";
    };
};
